<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="95"
      [radius]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      imageSrc="../assets/html.png"
      [imageHeight]="95"
      [imageWidth]="105"
      [showImage]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#E74C3C '"
      [innerStrokeColor]="'#F5CBA7'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      imageSrc="../assets/CSS.png"
      [imageHeight]="105"
      [imageWidth]="105"
      [showImage]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#3498DB '"
      [innerStrokeColor]="'#EBF5FB'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      imageSrc="../assets/JS.png"
      [imageHeight]="105"
      [imageWidth]="105"
      [showImage]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#F7DC6F  '"
      [innerStrokeColor]="'#FEF9E7 '"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      imageSrc="../assets/logogithb.png"
      [imageHeight]="135"
      [imageWidth]="130"
      [showImage]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#1B2631 '"
      [innerStrokeColor]="'#E5E8E8 '"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="97"
      [radius]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      imageSrc="../assets/equipos.png"
      [imageHeight]="115"
      [imageWidth]="115"
      [showImage]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#2ECC71 '"
      [innerStrokeColor]="'#D4EFDF'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="100"
      [radius]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      imageSrc="../assets/ideas.png"
      [imageHeight]="105"
      [imageWidth]="105"
      [showImage]="true"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#F39C12  '"
      [innerStrokeColor]="'#FDEBD0 '"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
</div>
