<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>educacion1</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, at
        tenetur soluta molestiae eligendi cum officia, maxime modi, quos qui
        iste in dolorem omnis ipsam nulla alias vitae natus ullam.
      </p>
    </ul>
    <ul>
      <li>
        <h1>educacion2</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, at
        tenetur soluta molestiae eligendi cum officia, maxime modi, quos qui
        iste in dolorem omnis ipsam nulla alias vitae natus ullam.
      </p>
    </ul>
    <ul>
      <li>
        <h1>educacion3</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, at
        tenetur soluta molestiae eligendi cum officia, maxime modi, quos qui
        iste in dolorem omnis ipsam nulla alias vitae natus ullam.
      </p>
    </ul>
  </div>
</div>
