<div class="row">
  <h1>Experiencia laboral</h1>

  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Nueva Experiencia
    </button>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let ExperienciaLab of expe">
          <td>
            <h3>{{ ExperienciaLab.nombreExp }}</h3>
          </td>
          <td>{{ ExperienciaLab.descripcionExp }}</td>
          <td *ngIf="isLogged">
            <buton
              class="btn btn-primary"
              routerLink="/editExperiencia/{{ ExperienciaLab.id }}"
            >
              <i class="bi bi-pencil-square"></i> EDITAR
            </buton>
          </td>

          <td *ngIf="isLogged">
            <button class="btn btn-dark" (click)="delete(ExperienciaLab.id)">
              <i class="bi bi-x-square"></i> BORRAR
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
